<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>layout 后台大布局 - Layui</title>
  <link rel="stylesheet" href="/static/layui/css/layui.css">
</head>
<body class="layui-layout-body">

{% extends 'base.html' %}
{% block content %}
    <h1>这里是我的地盘，谁也不能在这里撒野</h1>
{% endblock content %}

{#<script>#}
{#//JavaScript代码区域#}
{#layui.use('element', function(){#}
{#  var element = layui.element;#}
{##}
{#</script>#}
{#{);#}
</body>
</html>